# basic server
fastapi
uvicorn
itsdangerous
python-multipart
PyJWT

# config reading
pyyaml

# image processing
pillow
asyncpg

# faster re
google-re2

# async network and file
aiofiles
aiohttp

# pjsk api stuff
msgpack
pycryptodome
packaging

# s3
aioboto3

# bundle extraction stuff
UnityPy
wannacri # NOTE: requires vgmstream
ffmpeg-python # NOTE: requires ffmpeg

# chart generation
selenium
numpy
git+https://github.com/Sbotga/pjsekai-scores

# matching user input
cutlet
unidic
rapidfuzz

# emails
resend # hey resend team, please make an async version :plead:
jinja2