fastapi
uvicorn
pyyaml
pillow
asyncpg
itsdangerous
python-multipart
google-re2
PyJWT
msgpack
pycryptodome
packaging
aiofiles
aiohttp
aioboto3

# bundle extraction stuff
UnityPy
wannacri # NOTE: requires vgmstream
ffmpeg-python # NOTE: requires ffmpeg